<div class="bg">
<div class="container">
    <h2>
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
            class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
            <path
                d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z">
            </path>
            <path
                d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z">
            </path>
        </svg>
        &nbsp; Education
    </h2>
    <div class="row">

        <div class="col-sm-4">
            <h4>Branham High School</h4>
            <h6><strong>GPA</strong> (UW): 4.0   <strong>ACT:</strong> 35</h6>
            <ul>
                <li>AP Chemistry</li>
                <li>AP Physics</li>
                <li>AP English Language and Composition</li>
                <li>AP English Literature</li>
                <li>AP Calculus AB | BC</li>
                <li>AP Computer Science Principles</li>
                <li>AP World History</li>
                <li>AP Government</li>
                <li>AP Biology</li>
                <li>AP Environmental Sciences</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h4>West Valley College</h4>
            <h6><strong>Part of the Honors Program</strong></h6>
            <ul>
                <li>Psychology</li>
                <li>American Sign Language</li>
                <li>Human Biology</li>
                <li>Medical Terminology</li>
                <li>Sports Medicine</li>
                <li>Introduction to Java</li>
                <li>Introduction to Graphic Design</li>
                <li>Understanding Stress: A Multidisciplinary Perspective</li>
                <li>Child Growth and Development</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h4>Clubs & Activities</h4>
            <ul>
                <li>California Scholarships Federation (2020-Present)</li>
                <li>National Honor Society (2020-Present)</li>
                <li>Science Olympiad (2022-Present)</li>
                <li>Christian Club- President (2020-Present)</li>
                <li>NAMI - Mental Health Awareness Club - Founder and President
                    (2023-Present)
                </li>
            </ul>
        </div>
    </div>
</div>
</div> <br>
<app-skills></app-skills>
