h2{
    text-align: center;
}
.col-xs-2 h4 {
    color: #34495e;
    /* Dark blue color */
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 20px;
  }
  .col-xs-2 {
    height: 100%;
    padding-left: 90px
  }