<div class="bg">
<div class="container" id="communityservice">
    <h2 style="text-align: center">Community Service</h2>

    <div class="row align-items-center">
        <div class="col-xs-2">
            <img src="assets/images/kaiser.jpg" class="img-fluid rounded-circle" alt="Responsive image" />
        </div>
        <div class="col-xs-10">
            <h4>Kaiser Permanante</h4>
            <h6>Hospital Community Service</h6>
            <p>Aug 2022 - Present · 1 yr 2 mos<br />Health</p>
        </div>

        <div class="col-xs-2">
            <img src="assets/images/rwd.jpg" class="img-fluid rounded-circle" alt="Responsive image" />
        </div>
        <div class="col-xs-10">
            <h4>Read Write Discover</h4>
            <h6>Operations Generalist</h6>
            <p>Oct 2022 - Present · 1 yr<br />Education</p>
            <a target="_blank" href="https://www.readwritediscover.org/our-team">RWD Team</a>
        </div>

        <div class="col-xs-2">
            <img src="assets/images/sacred.jpg" class="img-fluid rounded-circle" alt="Responsive image" />
        </div>
        <div class="col-xs-10">
            <h4>Sacred Heart Community Service</h4>
            <h6>Student Volunteer</h6>
            <p>Sep 2021 - Present · 2 yrs 1 mo<br />Poverty Alleviation</p>
        </div>

        <div class="col-xs-2">
            <img src="assets/images/place.jpg" class="img-fluid rounded-circle" alt="Responsive image" />
        </div>
        <div class="col-xs-10">
            <h4>The Music Place, Inc</h4>
            <h6>Volunteer</h6>
            <p>Jun 2021 - Jul 2022 · 1 yr 2 mos<br /></p>
        </div>

        <div class="col-xs-2">
            <img src="assets/images/math.jpg" class="img-fluid rounded-circle" alt="Responsive image" />
        </div>
        <div class="col-xs-10">
            <h4>Math Club Tutor</h4>
            <h6>Ida Price Middle School</h6>
            <p>Jun 2020 - Jun 2021 · 1 yr 1 mo<br />Education</p>
        </div>

        <div class="col-xs-2">
            <img src="assets/images/plus.jpg" class="img-fluid rounded-circle" alt="Responsive image" />
        </div>
        <div class="col-xs-10">
            <h4>American Red Cross</h4>
            <h6>Student Volunteer</h6>
            <p>Aug 2022 - Present · 1 yr 2 mos<br />Health</p>

        </div>
        <div class="col-xs-2">
            <img src="assets/assets/images/totor.jpg" class="img-fluid rounded-circle" alt="Responsive image" />
        </div>
        <div class="col-xs-10">
            <h4>Learn To Be</h4>
            <h6>Student Tutor</h6>
            <p>Aug 2021 - Aug 2022 · 1 yr 1 mo <br /> Education</p>
        </div>
    </div>
</div>
</div>
<app-experience></app-experience>