
<div class="container">
    <h2 style="text-align: center">Medical & Research</h2>
    <div class="row align-items-center">
        <div class="col-xs-2">
            <img src="images/kaiser.jpg" class="img-fluid rounded-circle" alt="Responsive image" />
        </div>
        <div class="col-xs-10">
            <h4>Physician Shadowing at Kaiser Permanente, San Jose</h4>
            <p>Shadowed Physicians and observed 6-7 well and sick patients per day in the newborn, teen, and child clinics.</p>
            <p>Conducted informational interviews with pediatricians to learn about diagnosing and doctor-patient interactions.</p>
            <p>Additionally, shadowed LVNS, Medical Assistants, RNs, Nurse Practitioners</p>
            <br />
        </div>
        <div class="col-xs-2">
            
        </div>
        <div class="col-xs-10">
            <h4>Shadowing in Emergency Medicine at Safe Emergency Hospital, India</h4>
            <p>Observed a tracheostomy, learned how to chart a patient’s ADLs and I/O</p>
            <p>Learned about commonly-used drugs used to treat a variety of illnesses</p>
            <br />
        </div>
        <div class="col-xs-2">
            <img src="images/kgh.jpeg" class="img-fluid rounded-circle" alt="Responsive image" />
        </div>
        <div class="col-xs-10">
            <h4>Lab Shadowing at Government General Hospital, India </h4>
            <p>Learned about peripheral smears, gel electrophoresis, and other lab techniques</p>
            <p> Observed departments of pathology, biochemistry, and microbiology </p>
            <br />
        </div>
        <div class="col-xs-2">
            <img src="images/pannel.jpg" class="img-fluid rounded-circle" alt="Responsive image" />
        </div>
        <div class="col-xs-10">
            <h4>Certified Nursing Assistant </h4>
            <p>License issued by <a target="_blank" href="https://cvl.cdph.ca.gov/DetailPage.aspx?cert_holder_id=697918">California Department of Public Health</a> to provide nursing care</p>            
                <p> Completed training and received merit award</p>
                <p> Clinical experience in senior care facilities</p>
                <p> &nbsp; &nbsp; &nbsp; &nbsp;1.Valley House Rehabilitation Center</p>
                <p>&nbsp; &nbsp; &nbsp; &nbsp;2.Saratoga Villas</p>
            <p>Hands-on experience feeding, dressing, bathing, lifting, taking vitals, and assisting patients in many other ways</p>
            <br />
        </div>
    </div>
    <h2 style="text-align: center">Research</h2>
    <div class="row align-items-center">
        <div class="col-xs-2">
            <img src="images/polygence.png" class="img-fluid rounded-circle" alt="Responsive image" />
        </div>
        <div class="col-xs-10">
            <h4><a target="_blank" href="https://www.polygence.org/scholars/hasika-oggi"> Polygence</a></h4>
            <h6>Online Research Academy</h6>
            <p>Research conducted under PhD candidate from UC Berkeley</p>
            <p>Project Title: An investigation of vaccine candidates for the treatment of leprosy and their efficacy and accessibility</p>
            <p>Published under ResearchGate <a target="_blank" href="https://www.researchgate.net/publication/373415965_Investigation_of_Vaccine_Candidates_For_the_Treatment_of_Leprosy_and_Their_Efficacy_and_Accessibility">Show</a></p>                    
            <a href="javascript:void(0)" onclick="openModal('images/polygence-p.jpg')">Show</a>
            <br />
        </div>

        <div class="col-xs-2">
            <img src="images/CCIR.png" class="img-fluid rounded-circle" alt="Responsive image" />
        </div>
        <div class="col-xs-10">
            <h4>CCIR (Cambridge Center for Institutional Research)</h4>
            <h6>Online Research Academy</h6>
            <p>Research conducted under professors at Cambridge (Computational Genetics and Drug Discovery)</p>
            <p>Exploring and analyzing antibacterial resistance and gene diversity in MRSA strains </p>
            <a href="javascript:void(0)" onclick="openModal('images/ccir-p.jpg')">Show</a>
            <br />
        </div>

        <div class="col-xs-2">
            <img src="images/inspirit.png" class="img-fluid rounded-circle" alt="Responsive image" />
        </div>
        <div class="col-xs-10">
            <h4>Inspirit AI</h4>
            <h6>Online Research</h6>
            <p>Worked with a cohort mentored by a Stanford postgraduate to code an AI model that detects pneumonia at early stages from X-ray data.</p> 
            <p>Utilizing Different Deep Learning Models to Accurately Detect Pneumonia in Chest X-ray Images (Manuscript submitted for publication)</p>
            <a href="javascript:void(0)" onclick="openModal('images/inspirit-p.jpg')">Show</a>
            <br />
        </div>

        <div class="col-xs-2">
            <img src="images/john.jpg" class="img-fluid rounded-circle" alt="Responsive image" />
        </div>
        <div class="col-xs-10">
            <h4>Johns Hopkins School of Arts, Sciences and Engineering</h4>
            <h6>Online Research</h6>
            <p>Participated in JHU’s Medical Intensive Program focused on body systems.</p> 
            <p>After multiple online labs, created final research presentation on detrimental effects of sleep deprivation on the human body</p>
            <br />
        </div>

    </div>
</div>
