<div class="bg">
<div class="container" id="certifications">
    <h2 style="text-align: center">Certifications</h2>

    <div class="row align-items-center">
        <div class="col-xs-2">
            <img src="assets/images/john.jpg" class="img-fluid rounded-circle" alt="Responsive image" />
        </div>
        <div class="col-xs-10">
            <h4>Summary Statistics in Public Health</h4>
            <h6>The Johns Hopkins University</h6>
            <p>Issued Jul 2023<br />Credential Id 8CQEKD32Y789</p>
            <a href="javascript:void(0)" 
            onclick="openModal('assets/images/sumstat.jpg')">Show Credential</a>
        </div>

        <div class="col-xs-2">
            <img src="assets/images/health.jpg" class="img-fluid rounded-circle" alt="Responsive image" />
        </div>
        <div class="col-xs-10">
            <h4>CPR (CPR)</h4>
            <h6>American Heart Association</h6>
            <p>Issued Jun 2023<br /></p>
            <a href="javascript:void(0)" onclick="openModal('assets/images/ahs.jpg')">Show Credential</a>                    
        </div>

        <div class="col-xs-2">
            <img src="assets/images/public.jpg" class="img-fluid rounded-circle" alt="Responsive image" />
        </div>
        <div class="col-xs-10">
            <h4>Certified Nursing Assistant</h4>
            <h6>California Department of Public Health</h6>
            <p>Issued Jun 2023<br /></p>
            <a href="javascript:void(0)" onclick="openModal('assets/images/cna-p.jpg')">Show Credential</a>                    
        </div>

        <div class="col-xs-2">
            <img src="assets/images/bulb.jpg" class="img-fluid rounded-circle" alt="Responsive image" />
        </div>
        <div class="col-xs-10">
            <h4>Certificate of Completion: AI Scholars Program</h4>
            <h6>Inspirit AI</h6>
            <p>Issued Dec 2022<br /></p>
            <a href="javascript:void(0)" onclick="openModal('assets/images/inspirit-p.jpg')">Show Credential</a>
        </div>
        <div class="col-xs-2">
            <img src="assets/images/john.jpg" class="img-fluid rounded-circle" alt="Responsive image" />
        </div>
        <div class="col-xs-10">
            <h4>Essential Epidemiologic Tool for Public Health Practice</h4>
            <h6>The Johns Hopkins University</h6>
            <p>Issued Nov 2022<br />Credential Id QSXB9YYZ55EB</p>
            <a href="javascript:void(0)" onclick="openModal('assets/images/epidem.jpg')">Show Credential</a>
        </div>

        <div class="col-xs-2">
            <img src="assets/images/john.jpg" class="img-fluid rounded-circle" alt="Responsive image" />
        </div>
        <div class="col-xs-10">
            <h4>Fundamental Neuroscience for Neuroimaging</h4>
            <h6>The Johns Hopkins University</h6>
            <p>Issued Nov 2022<br />Credential Id V4L4K4EBJQX8</p>
            <a href="javascript:void(0)" onclick="openModal('assets/images/image.png')">Show Credential</a>
        </div>
        <div class="col-xs-2">
            <img src="assets/images/america.jpg" class="img-fluid rounded-circle" alt="Responsive image" />
        </div>
        <div class="col-xs-10">
            <h4>Online CPR/AED and First Aid Combo Course</h4>
            <h6>American Red Cross</h6>
            <p>Issued May 2022 Expires May 2024<br /></p>
        </div>
    </div>
</div>
</div>
<app-mr></app-mr>