
<div class="container">
    <h2 style="text-align: center">Experience</h2>
    <div class="row align-items-center">
        <div class="col-xs-2">
            <img src="images/clg.jpg" class="img-fluid rounded-circle" alt="Responsive image" />
        </div>
        <div class="col-xs-10">
            <h4>Campbell Union High School District</h4>
            <h6>Student Board Trustee</h6>
            <p>
                Along with another Trustee, we represent over 8,600 CUHSD students
                from Boynton, Branham, Del Mar, Leigh, Prospect, and Westmont High
                Schools.
            </p>
            <p>Aug 2023-present</p>
            <h6>Superintendent student advisory council member</h6>
            <p>Aug 2022-Aug2023</p>
            <br />
        </div>
        <div class="col-xs-2">
            <img src="images/piano.jpg" class="img-fluid rounded-circle" alt="Responsive image" />
        </div>
        <div class="col-xs-10">
            <h4>Peer Advocate council member</h4>
            <h6>Santa Clara County Office of Education</h6>
            <p>
                The Peer Advocate Advisory Council (PAAC) is a Santa Clara County
                youth-centered leadership group that engages in community level
                advocacy and awareness projects ranging from media campaigns,
                research, and peer-to-peer education.
            </p>
            <p>Aug 2023 - Present</p>
            <br />
        </div>
        <div class="col-xs-2">
            <img src="images/piano1.jpg" class="img-fluid rounded-circle" alt="Responsive image" />
        </div>
        <div class="col-xs-10">
            <h4>Piano teacher</h4>
            <h6><a target="_blank" href="https://www.musicplace.com/faculty/hasika">The Music Place, Inc</a>(Part-time)</h6>
            <p>Nov 2022-Present</p>
            <br />
        </div>
        <div class="col-xs-2">
            <img src="images/pannel.jpg" class="img-fluid rounded-circle" alt="Responsive image" />
        </div>
        <div class="col-xs-10">
            <h4>Panel member</h4>
            <h6>Silicon Valley Reads</h6>
            <p>
                Served as a Student Panel member for Silicon Valley author reads
                and interviewed the author of the book Furia.
            </p>
            <p>Mar 2023</p>
            <br />
        </div>
    </div>
</div>

<app-certifications></app-certifications>