<div class="bg">
<div class="container" id="projects">
    <h2 style="text-align: center">Projects</h2>
    <div class="row align-items-center">
        <div class="col" style="margin-left: 15px;">
            <img src="assets/images/pnuemonia.png" alt="Pneumonia project" />
        </div>
        <div class="col-12 col-md-6 order-md-2">
            <h4>AI Model for Early Pneumonia Detection</h4>
            <p>
                Developed an AI model that could detect pneumonia at its earliest
                stages. </p>
            <p class="date">Dec 2022</p>
        </div>
        <div class="col col-md-4 order-md-3">
            <img class="zoom" src="assets/images/pnue.PNG" alt="Pneumonia project"
                onclick="openModal('assets/images/pnue.PNG')" />
        </div>
    </div>
    <div id="shdw" class="row align-items-center">
        <div class="col" style="margin-left: 15px;">
            <img style="background: white;" src="assets/images/graph.png" alt="Anxiety study" />
        </div>
        <div class="col-12 col-md-6 order-md-2">
            <h4>
                Social and Non-social Anxiety in Adolescent and Adult Rats After
                Repeating Restraint
            </h4>
            <p>
                Worked with a group to create a research presentation on an
                article about social anxiety in teenagers as compared to rats.

            <p class="date">Jun 2022 - Aug 2022</p>

        </div>
        <div class="col col-md-4 order-md-3">
            <img class="zoom" style="margin-bottom: 25px;"src="assets/images/rat.png" alt="Social project"
                onclick="openModal('assets/images/rat.png')" />
        </div>
    </div>

    <div id="shdw" class="row align-items-center">
        <div class="col " style="margin-left: 15px;">
            <img style="background: white;" src="assets/images/sleep1.png" alt="Sleep study" />
        </div>
        <div class="col-12 col-md-6 order-md-2">
            <h4>How does Less Sleep Affect the Body?</h4>
            <p>
                Researched the effects of less sleep on the body.
            <p class="date">June 2021 - July 2021</p>

        </div>
        <div class="col col-md-4 order-md-3">
            <img class="zoom" src="assets/images/sleep.png" alt="Sleep project"
                onclick="openModal('assets/images/sleep.png')" />
        </div>
    </div>

    <div id="shdw" class="row align-items-center">
        <div class="col" style="margin-left: 15px;">
            <img style="background: white;" src="assets/images/computer.png" alt="Computer Science" />
        </div>
        <div class="col-12 col-md-6 order-md-2">
            <h4>Ap Computer Science Principle</h4>
            <p class="date">Aug 2020 - May 2021</p>
        </div>
        <div class="col col-md-4 order-md-3">
            <img class="zoom" style="margin-top: 25px" src="assets/images/science.jpeg" alt="CS project"
                onclick="openModal('assets/images/science.jpeg')" />
        </div>
    </div>
</div>
</div>
<app-awards></app-awards>