<div class="container" id="awards">
    <h2 style="text-align: center">Awards</h2>

    <div class="row align-items-center">
        <div class="col a">
            <img src="assets/images/president_award.png" class="img-fluid rounded-circle" alt="Responsive image" />
        </div>
        <div class="col-12 col-md-6 order-md-2">
            <h4>President's Volunteer Service Award - Gold</h4>
            <p>Issued by President of the United States <br /> Aug 2023</p>
        </div>
        <div class="col col-md-4 order-md-3">
            <img class="zoom" src="assets/images/president-p.jpg" alt="President Award"
                onclick="openModal('assets/images/president-p.jpg')" />
        </div>
    </div>
    <div id="shdw" class="row align-items-center">
        <div class="col a">
            <img src="assets/images/APScholarsImage.png" class="img-fluid rounded-circle" alt="Responsive image" />
        </div>
        <div class="col-12 col-md-6 order-md-2">
            <h4>AP Scholar with Distinction</h4>
            <p>Associated with Branham High School<br />jul 2023</p>
        </div>
        <div class="col col-md-4 order-md-3">
            <img class="zoom" src="assets/images/ap-schol-p.png" alt="AP scholors"
                onclick="openModal('assets/images/ap-schol-p.png')" />
        </div>
    </div>
    <div id="shdw" class="row align-items-center">
        <div class="col a">
            <img src="assets/images/BranhamHighSchoolLogo.png" class="img-fluid rounded-circle"
                alt="Responsive image" />
        </div>
        <div class="col-12 col-md-6 order-md-2">
            <h4>Principal's Award - Branham High School</h4>
            <p>Associated with Branham High School<br />Mar 2023</p>
        </div>
        <div class="col col-md-4 order-md-3">
            <img class="zoom" src="assets/images/shubert.jpeg" alt="Principal Award"
                onclick="openModal('assets/images/shubert.jpeg')" />
        </div>
    </div>
    <div id="shdw" class="row align-items-center">
        <div class="col a">
            <img src="assets/images/year.jpg" class="img-fluid rounded-circle" alt="Responsive image" />
        </div>
        <div class="col-12 col-md-6 order-md-2">
            <h4>Student of the Month-Branham High School</h4>
            <p>Associated with Branham High School<br />Apr 2022</p>
        </div>
        <div class="col col-md-4 order-md-3">
        </div>
    </div>
    <div id="shdw" class="row align-items-center">
        <div class="col a">
            <img src="assets/images/nshss.png" class="img-fluid rounded-circle" alt="Responsive image" />
        </div>
        <div class="col-12 col-md-6 order-md-2">
            <h4>National Society of High School Scholars</h4>
            <p>Issued by National Honor Society <br />Jan 2022</p>
        </div>
        <div class="col col-md-4 order-md-3">
            <img class="zoom" src="assets/images/nhs.jpeg" alt="National HighSchool Scholors"
                onclick="openModal('assets/images/nhs.jpeg')" />
        </div>
    </div>
    <div id="shdw" class="row align-items-center">
        <div class="col a">
            <img src="assets/images/rcm_logo.png" class="img-fluid rounded-circle" alt="Responsive image" />
        </div>
        <div class="col-12 col-md-6 order-md-2">
            <h4>First Class Honors</h4>
            <p>Issued by The Royal Conservatory of Music <br />Dec 2021</p>

        </div>
        <div class="col col-md-4 order-md-3">
            <img class="zoom" src="assets/images/royal.jpeg" alt="Royal Conservatory Piano"
                onclick="openModal('assets/images/royal.jpeg')" />
        </div>
    </div>
    <div id="shdw" class="row align-items-center">
        <div class="col a">
            <img src="assets/images/nbb.png" class="img-fluid rounded-circle" alt="Responsive image" />
        </div>
        <div class="col-12 col-md-6 order-md-2">
            <h4>Perfect Oral Recitation Award</h4>
            <p>Issued by National Bible Bee · Nov 2021 <br /></p>
        </div>
        <div class="col col-md-4 order-md-3">
        </div>
    </div>
    <div id="shdw" class="row align-items-center">
        <div class="col a">
            <img src="assets/images/panther2.jpeg" class="img-fluid rounded-circle" alt="Responsive image" />
        </div>
        <div class="col-12 col-md-6 order-md-2">
            <h4>Academic Excellence Award</h4>
            <p>Issued by Ida Price Middle School <br />Jun 2020</p>
        </div>
        <div class="col col-md-4 order-md-3">
        </div>
    </div>
    <div id="shdw" class="row align-items-center">
        <div class="col a">
            <img src="assets/images/john.jpg" class="img-fluid rounded-circle" alt="Responsive image" />
        </div>
        <div class="col-12 col-md-6 order-md-2">
            <h4>Dean's Fellowship Award</h4>
            <p>Issued by Johns Hopkins University <br />Jan 2020 <br />Awarded for academic excellence </p>
        </div>
        <div class="col col-md-4 order-md-3">
        </div>
    </div>
</div>
<app-volunteer></app-volunteer>