
<div class="container" id="home">
    <div class="row">
        <div class="col-sm-4">
            <img src="assets/images/hasika.jpeg"
                class="profile img-fluid rounded-circle img-position shadow-lg profile"
                alt="Responsive image" />
            <h1 class="home">Hasika Oggi</h1>
            <p style="margin-left: 40px !important">Senior at Branham High School</p>
        </div>
        <div class="col-sm-8"> 
            <h4 class="about">About me</h4>
            <p>
                Hello! I’m <strong>Hasika</strong>, a Senior at Branham High and Honors Student at West Valley
                College. With a deep passion for <em>medical sciences</em>, I’m devoted to my academic journey
                and personal growth.</p>
            <p>
                As the <strong>Student Board Trustee</strong> for Campbell Union High School District, I
                advocate for an inclusive educational environment, actively participating in advisory councils.
                I share joy through music as a part-time piano teacher and ardently champion mental health
                awareness in our community.</p>
            <p>
                Honored with the <strong>President's Volunteer Service Award - Gold</strong> and certified by
                esteemed institutions like Johns Hopkins and the American Heart Association, I look forward to
                future opportunities to positively impact the community through <em>transparent and
                    collaborative science</em>.</p> 
        </div>
    </div>
</div> <br>

<app-education></app-education>